body{
    background-color: #25D366;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat{
    text-align: center;
    background-color: white;
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
#header{
    text-align: center;
    background-color: #075E54;
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
#user_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logoff{
    margin-left: 15px;
    height: fit-content;
    border-radius: 12px;
    border: none;
}
#chat{
    background-color: white;

}
#userChat{
    display: flex;
    flex-direction: row;
    background-color: #075E54;
    border-radius: 12px;
    padding: 5px;
    font-weight: bolder;
}
