body{
    background-color: #25D366;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#chat{
    text-align: center;
    background-color: white;
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
#header{
    text-align: center;
    background-color: #075E54;
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
#user_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logoff{
    margin-left: 15px;
    height: fit-content;
    border-radius: 12px;
    border: none;
}
#chat{
    background-image: url("src/img.png");
    background-position: center;
    background-size: cover;

}
table{
    width: 100%;
}

#td_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: blue;
    background-color: white;
    font-size: 14px;
    padding: 5px;
    border-right: 6px solid blue;
    float: right;
    font-family: monospace;
    border-radius: 12px;
}
#td_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    background-color: white;
    font-size: 14px;
    padding: 5px;
    border-right: 6px solid red;
    float: right;
    font-family: monospace;
    border-radius: 12px;
}
#myInput{
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    border: none;
    padding: 5px;
}
#enviar{
    background-color: white;
    border-radius: 12px;
    border: none;
    padding: 5px;
}
#targetinfo{
    display: flex;
    flex-direction: row;
    background-color: #075E54;
    padding: 2px;
    border-radius: 12px;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: monospace;
}
#targetinfo img{
    border-radius: 50%;
}
#targetinfo p{
    margin-left: 5px;
}