body{
    background-color: #25D366;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    text-align: center;
    background-color: #075E54;
    width: fit-content;
    padding: 8px;
    border: none;
    border-radius: 12px;
}
#lista{
    background-color: #128C7E;
    padding: 5px;
    border-radius: 12px;
    margin-top: 5px;
}
table{
    background-color: white;
    border-radius: 12px;
}
#td{
    color: #333333;
    padding: 5px;
    border-radius: 12px;
    font-weight: bolder;
    font-size: 18px;
    margin-top: 5px;
    font-family: monospace;
}
#user_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logoff{
    margin-left: 15px;
    height: fit-content;
    border-radius: 12px;
    border: none;
}